.transactions {
  margin: 20px;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--card-bg-white);
}

.transactions-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(0 0 0 / 5%);
  padding: 8px 12px;
}

.card-toolbar {
  color: var(--card-toolbar-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 0.7rem;
}

.transactions-body {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
}

.transactions-body .map-container {
  display: none;
}

.table-container {
  width: 100%;
  font-family: inherit;
  color: var(--card-text-clr);
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  color: var(--sub-heading-clr);
  font-size: var(--sub-heading-size);
  font-weight: var(--sub-heading-weight);
}

td {
  color: var(--card-text-clr);
  font-weight: var(--card-text-weight);
  font-size: var(--card-text-size);
}

tr:not(:last-child) {
  border-bottom: 1px solid var(--table-border-clr);
}
