*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
select,
textarea {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

img,
embed,
video,
object {
  max-width: 100%;
}
